{% load staticfiles %}
<!doctype html>
<html>
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>My first page</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

</head>
<body>
	<div id="wrapper">
		<header>
            {% block head %}
			{% include "shop/head.html" %}
            {% endblock %}
		</header>
		<nav>
            {% block navigation %}
            {% endblock %}
		</nav>
		{% block content %}
		{% endblock %}
		{% block product %}
		{% endblock %}
		{% block orders %}
		{% endblock %}
		{% block cart %}
		{% endblock %}
		{% block order %}
		{% endblock %}

</body>
</html>