{% extends "bshop/base.html" %}

{% block about %}
<div class="container">
    <div class="row visible-sm-block" style="padding-top: 40px"></div>
    <div class="row">
        <ol class="breadcrumb" >
            <li><a href="/">Главная</a> </li>
            <li class="active">О нас</li>
        </ol>
        <div class="col-md-12">
            <h3>О нас</h3>
            <p> Добро пожаловать на наш сайт! </p>
            <p> Одной из самых главных составляющих, без которой не удастся окончательно собрать качественный ламповый усилитель или фонокорректор, является хороший металлический корпус.
                Задача по изготовлению корпусов в домашних условиях является достаточно трудоемкой и требует наличие специализированного инструмента и расходных материалов.
                Именно поэтому нами был пройден значительный путь по поиску недорого и качественного решения этой проблемы. </p>
            <p> На основе имеющегося опыта рады предложить на нашем сайте различные варианты корпусов, произведенных  в промышленных условиях. </p>
            <p> Все корпуса изготавливаются на специализированном оборудовании путем лазерной резки листового  металла, гибки на гидравлических прессах с последующей комплексной металлообработкой и порошковой окраской. </p>
            <p> При проектировании корпусов применялась идеология максимально короткого пути прохождения сигнала и разнесения с целью магнитного экранирования трансформаторов и входных ламп. </p>
            <p> Имеющееся варианты позволяют охватить практически все варианты для сборки ламповых усилителей и фонокорректоров. </p>
            <p> Кроме этого, для удобства поиска комплектующих мы планируем постепенно расширять ассортимент товаров на сайте. </p>
            <p> Если у Вас есть желание предложить свой вариант корпуса, увидеть дополнительный  ассортимент на нашем сайте будем рады получить предложения по электронной почте: <a href="mailto:myamp.online@gmail.com">myamp.online@gmail.com</a> </p>

            <h3>Информация об оплате и доставке </h3>
            <p> Как правило, корпуса изготавливаются после сбора необходимого количества желающих для заказа. В будущем планируется иметь некоторый запас популярных вариантов корпусов для более быстрой их поставки. </p>
            <p> В случае оформления предварительного заказа на сайте с Вами свяжется наш представитель для уточнения заказа сроков его поставки и оплаты.</p>
            <p> Далее, Вы будете информироваться о статусе изготовления заказа  и его отправке с трекинг номером для отслеживания. </p>
            <p> Мы работаем с Почтой России и транспортными компаниями ПЭК, Деловые линии, Главдоставка . Есть опыт отправки товара в Казахстан и Республику Беларусь. </p>
            <p> <strong> Для Москвы </strong>есть возможность забрать товар лично. </p>
            <p> Оплата возможна в рублях на карту Сбербанка, либо иное по договоренности. </p>
            <p> По всем вопросам  просьба обращаться по электронной почте: <a href="mailto:myamp.online@gmail.com">myamp.online@gmail.com</a> </p>
            <p> Мы постараемся ответить на все ваши вопросы! </p>
        </div>
    </div>
</div>
    {% endblock %}